name: Update Slack Status

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

jobs:
  update-status:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Set up Ruby
        uses: ruby/setup-ruby@90be1154f987f4dc0fe0dd0feedac9e473aa4ba8
        with:
          ruby-version: '3.4'

      - name: Update Slack statuses
        env:
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        run: ruby status.rb
